.div-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem;
  width: 100%;
  margin-top: 40px;

  &__space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .show-button {
      background-color: transparent;
      border: 1px solid gray;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 500;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .header-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      p {
        font-size: 1.125rem;
        font-weight: 500;
        color: #333;
      }
    }
  }
  .script-box {
    padding: 1rem 4rem 1rem 1.125rem;

    word-spacing: 5px;
    letter-spacing: 0.5px;
    width: 100%;
    aspect-ratio: 5/2;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background: #1d2939;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 550px;

    .script-box-content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
      overflow-wrap: anywhere;
    }

    .script-number,
    .right-script-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;

      p {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }

    .script-number {
      min-width: fit-content;
      overflow: auto;
      .s-line-num {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .right-script-text {
      color: white;
    }
  }
}

.search__codebox {
  &__getbox {
    width: 100%;

    padding: 1rem;
    background-color: rgb(167 129 129 / 10%);
    border-radius: 4px;
    border: 1px solid #cdcdcd;

    p {
      font-weight: 400;
      color: #333;
      span {
        font-weight: 500;
        color: black;
      }
    }
  }
}
